/* ---------------------------------------------- */
/* COLORS */
/* ---------------------------------------------- */
:root {
  --primary: #ee7100 ;
  --blue: #1e398f;
  --light-blue: rgb(26, 162, 204);
  --blue-2: rgb(11, 226, 241);
  --background-color: rgb(228, 231, 231);
  --white: #fff;
  --sky-color: rgb(181, 250, 255);
  --gray: rgb(194, 194, 194);
  --dark-gray: rgb(146, 146, 146);
  --dark-gray-2: rgb(49, 49, 49);
  --red: rgb(230, 28, 28);
  --red-2: rgb(214, 52, 52);
  --green: rgb(9, 185, 141);
  --yellow: rgb(248, 201, 47);
  --black: #000;
  }
/* ---------------------------------------------- */
/* GENERAL STYLES */
/* ---------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display{
  display: none !important;
}
body {
  background-color: var(--background-color);
  font-size: 19px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

section{
  max-width: 85%;
  margin-left: 220px;
  margin-top: 150px;
  transition: margin-left 0.2s;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}
.grid {
  display: grid;
  position: relative;
  max-width: 100%;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}

/* -------------------------------------------------------- */
/* END OF GENERAL STYLES */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* HEADER STYLES */
/* -------------------------------------------------------- */
header{
  position: fixed;
  z-index: 12;
  top: 0;
  width: 100%;
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 6px -6px var(--dark-gray);
  -moz-box-shadow: 0 4px 6px -6px var(--dark-gray);
  box-shadow: 0 4px 6px -6px var(--dark-gray);
}

.header-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--gray);
}
.header-container i {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 80%;
  cursor: pointer;
  color: var(--dark-gray);
}

.header-username-container {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  width: 240px;
}

.language-flag{
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.header-username{
  font-size: 75%;
  margin-top: 5px;
  font-weight: 500;
}

.username-first-letter {
  font-size: 80%;
  background-color: var(--sky-color);
  padding: 6px 10px;
  border-radius: 5px;
  color: var(--light-blue);
  font-weight: 600;
}
.dashboard {
  width: 100%;
  height: 50px;
}

.dashboard-container {
  margin-left: 230px;
  display: flex;
  padding: 15px 20px;
  transition: margin-left 0.2s;
}
.dashboard-container  h4{
  font-size: 90%;
}

.dashboard-container i {
  color: var(--dark-gray);
  font-size: 80%;
  margin-top: 4px;
  margin-left: 10px;
}
/* -------------------------------------------------------- */
/* END OF HEADER STYLES */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* NAVBAR STYLES */
/* -------------------------------------------------------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 220px;
  background-color: var(--white);
  box-shadow: 10px 0 10px -8px var(--gray);
  transition: left 0.2s;
}
/* nav check box */
#check-navbar{
  display: none;
}
#check-navbar:checked ~ nav {
  left: -220px;
  transition: left 0.2s;
}
#check-navbar:checked ~ section {
  max-width: 100% !important;
  margin-left: 0;
  transition: margin-left 0.2s;
}
#check-navbar:checked ~ header .dashboard .dashboard-container,
#check-navbar:checked ~ footer .footer-text{
  margin-left: 10px;
  transition: margin-left 0.2s;
}
/* end of nav check box */
.nav-header{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 150px;
  margin: 20px 10px;
}

.nav-header i{
  margin-top: 20px;
  margin-right: 20px;
  font-size: 80%;
  cursor: pointer;
  color: var(--dark-gray);
}
.main-nav {
  background-color: none;
  width: 100%;
}
.main-nav li{
  width: 100%;
  font-size: 80%;
  cursor: pointer;
}

.main-nav li a:link,
.main-nav li a:visited{
  display: inline-block;
  color: var(--dark-gray);
  width: 100%;
  padding: 8px 15px;
}

.main-nav li a:hover{
  color: var(--primary);
  background-color: rgb(236, 236, 236);
  transition: color 0.2s;
}
.active {
  color: var(--primary) !important;
  background-color: rgb(236, 236, 236);
}
.main-nav li a i{
  width: 35px;
  text-align: center;
}
/* -------------------------------------------------------- */
/* END OF NAVBAR STYLES */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* HOMEPAGE STYLES */
/* -------------------------------------------------------- */

/*------------- home page cards --------------------- */
.homepage-card-container {
  margin-top: 90px;
}

/* --homepage cards */
.homepage-cards {
  position: relative;
  margin: 10px auto;
  width: 334px;
  height: 350px;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homepage-card-header {
  max-width: 100%;
  text-align: center;
  font-size: 70%;
  margin-top: 15px;
  color: var(--dark-gray-2);
  font-weight: 500;
}

.homepage-card-body {
  width: 100%;
  height: 265px;
  overflow: auto;
}
.homepage-card-footer {
  width: 100%;
 text-align: center;
 margin-top: 10px;
}
.homepage-card-footer a {
  font-size: 70%;
  font-weight: 500;
  color: var(--blue-2);
}
/* homepage homework component styles */
.homepage-homework-main-list {
  width: 100%;
  height: auto;
}

.homepage-homework-list {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
}

.homepage-homework-list h5{
  font-size: 65%;
  color: var(--dark-gray-2);
  font-weight: 500;
  cursor: pointer;
}
.homepage-homework-list h5:hover {
  color: var(--primary);
}

.homepage-homework-list p{
  font-size: 60%;
  color: var(--dark-gray);
  margin-top: 5px;
}

/* homepage essay component styles */

.homepage-essay-main-list {
  width: 100%;
  height: auto;
}

.homepage-essay-list {
  display: flex;
  width: 100%;
  padding-left: 20px;
  margin-top: 25px;
}

.homepage-essay-list span {
  display: inline-block;
  margin-top: 2px;
  height: 19px;
  width: 4px;
  background-color: var(--gray);
}

.homepage-essay-list i {
  color: var(--gray);
  font-size: 110%;
  margin-left: 10px;
}

.homepage-essay-list p {
  width: 100%;
  color: var(--dark-gray-2);
  font-size: 60%;
  margin-left: 15px;
  margin-top: 2px;
  font-weight: 500;
  cursor: pointer;
}

.homepage-essay-list p:hover{
  color: var(--primary);
}

/* homepage speaking component styles */

.homepage-speaking-main-list {
  width: 100%;
  height: auto;
}

.homepage-speaking-list {
  display: flex;
  width: 100%;
  padding-left: 20px;
  margin-top: 25px;
}

.homepage-speaking-list-left {
  display: flex;
}

.homepage-speaking-list-left span {
  font-size: 67%;
  font-weight: 600;
  background-color: var(--blue-2);
  padding: 10px 10px;
  border-radius: 50%;
  color: var(--white);
}

.homepage-speaking-list-left p {
  font-size: 65%;
  font-weight: 500;
  margin-left: 15px !important;
  margin-top: 12px;
  color: var(--dark-gray-2);
  cursor: pointer;
}
.homepage-speaking-list-left p:hover{
  color: var(--primary);
}

.homepage-speaking-list p {
  font-size: 65%;
  font-weight: 500;
  margin-left: 65px;
  margin-top: 12px;
  color: var(--dark-gray-2);
  cursor: pointer;
}

/*------------- end of home page cards --------------------- */
/* ------------------------------------------------------------------- */

/*------------- home page buttons --------------------- */

.homepage-buttons-container {
  margin-top: 90px;
}

.homepage-buttons {
  width: 334px;
  height: 80px;
  background-color: var(--white);
  margin: 5px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  border-radius: 3px;
}
.homepage-buttons:hover {
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.homepage-buttons i {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  color: var(--blue);
  line-height: 40px;
  font-size: 120%
}

.homepage-buttons a {
  display: inline-block;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  font-size: 75%;
  line-height: 40px;
}
/*------------- end of home page buttons --------------------- */
/* -------------------------------------------------------- */
/* END OF HOMEPAGE STYLES */
/* -------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------- */
/* -----------EXAM RESULT PAGE STYLES */
/* ------------------------------------------------------- */

.exam_result-container {
  max-width: 100%;
  background-color: var(--white);
  margin: 30px auto;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.exam_result-header {
  display: inline-block;
  font-size: 70%;
  margin: 20px 30px;
}

.exam-searchbox {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.table-searchbox {
  width: 600px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
}

.table-searchbox input {
  width: 95%;
  background-color: none;
  border: none;
  outline: none;
  font-size: 80%;
}

.table-searchbox i {
  font-size: 75%;
  color: var(--dark-gray);
}

.exam-table {
  width: 100%;
  margin-top: 20px;
  font-size: 70%;
  font-weight: 300 !important;
  color: var(--dark-gray);
  padding: 5px 15px;
  border-collapse: collapse;
}
.exam-result-header th {
  text-align: left;
  padding: 10px 0px;
}

.exam-result-header th:nth-last-child(1) {
  text-align: right;
  padding-right: 15px;
}
.exam-result-header th:nth-child(1){
  padding-left: 15px;
}
.exam-results{
  border-top: 1px solid var(--gray);
  border-collapse: collapse;
  cursor: pointer;
  
}
.exam-results td{
  padding: 10px 0px;
}

.exam-results td:nth-child(1){
  padding-left: 15px;
}
.exam-results td:nth-last-child(1){
  text-align: right;
  padding-right: 15px;
}

.fa-eye{
  background-color: var(--primary);
  padding: 6px 6px;
  border-radius: 50%;
  color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.failed {
  background-color: var(--red);
  width: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 85%;
  border-radius: 20px;
  color: var(--white);
  padding: 3px 0;
}
.passed {
  background-color: var(--blue-2);
  width: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 85%;
  border-radius: 20px;
  color: var(--white);
  padding: 3px 0;
}

.exam-result-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  background-color: var(--white);
}

.table-page {
  font-size: 60%;
  color: var(--dark-gray-2);
  margin: 10px 14px;
}

.pagination {
  display: flex;
  margin-right: 20px;
}

.pagination i {
  display: inline-block;
  font-size: 60%;
  height: 25px;
  width: 25px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  color: var(--dark-gray);
}
.other_pages,
.current_page {
  width: 25px;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  font-size: 80%;
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
  margin: 0 5px;
}
.current_page{
  background-color: var(--primary);
  color: var(--white);
}

.other_pages {
  background-color: var(--white);
  color: var(--primary);
}
.fa-ellipsis-h{
  background-color: none !important;
  box-shadow: none !important;
  color: var(--primary);
}

/* ------------------------------------------------------- */
/* -----------END OF EXAM RESULT PAGE STYLES */
/* ------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------- */
/* -----------SPEAKING PAGE STYLES */
/* ------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.speaking-container {
  max-width: 100%;
  height: auto;
}

.speaking-component-header {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.speaking-component-header h5{
  display: inline-block;
  font-weight: 500;
  margin: 10px 30px;
  font-size: 70%;
  color: var(--dark-gray-2);
}

.speaking-component-body {
  margin-top: 15px;
}

.speaking-level-components{
  margin: 10px auto;
  display: flex;
  width: 334px;
  height: 140px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.speaking-level-components:hover{
  transition: box-shadow 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.speaking-level-components img{
  margin-top: 15px;
  margin-left: 20px;
  width: 110px;
  height: 110px;
}

.speaking-level-btn{
  margin-top: 60px;
  margin-left: 20px;
  font-size: 70%;
  color: var(--primary);
  font-weight: 500;
  cursor: pointer;
}
/* ------------------------------------------------------- */
/* ----------- END OF SPEAKING PAGE STYLES */
/* ------------------------------------------------------- */

/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------- */
/* ----------- SPEAKING LEVEL PAGE STYLES */
/* ------------------------------------------------------- */

.speaking-levels-header  {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.speaking-levels-header  h5{
  display: inline-block;
  font-weight: 500;
  margin: 10px 30px;
  font-size: 70%;
  color: var(--dark-gray-2);
}
.speaking-levels-components {
  margin-top: 15px;
}
.level-component {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  width: 334px;
  height: 50px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.level-component:hover{
  transition: box-shadow 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.level-component p {
  margin: 17px 30px;
  font-size: 70%;
  color: var(--dark-gray-2);
  font-weight: 500;
}

.level-component i {
  margin: 20px 30px; 
  font-size: 70%;
  color: var(--dark-gray-2);
  cursor: pointer;
}
.level-component i:hover {
  color: var(--primary);
}

.speaking-records-btn{
  display: none;
  position: absolute;
  margin-left: -130px;
  width: 130px;
  height: 50px;
  margin-top: -20px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--primary);
  font-weight: 500;
}
.level-component i:hover .speaking-records-btn{
  display: block;
}

.speaking-records-btn:hover{
  transition: box-shadow 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* SPEAKING RECORDS PAGE */
.record-page-container{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.recording-component {
  display: block;
  position: relative;
  width: 420px;
  min-height: 300px;
  height: auto;
  left: calc(50% - 210px);
  top: calc(50% - 150px);
  background-color: var(--white);
  border-radius: 3px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.recording-component-header {
  display: inline-block;
  margin: 15px 20px;
  font-size: 70%;
  font-weight: 400;
}

.recording-component-title{
  display: flex;
  width: 100%;
}

.recording-component-title h5 {
  font-size: 70%;
  font-weight: 400;
  margin-left: 30px;
}
.recording-component-title h5:nth-child(2){
  margin-left: 64px;
}

.recording-component-question-container {
  display: flex;
  margin-top: 20px;
}

.recording-component-question-container h5{
  font-size: 70%;
  font-weight: 400;
  margin-left: 30px;
}

.recording-component-questions ul {
  font-size: 65%;
  font-weight: 400;
  margin-left: 30px;
}
.recording-component-questions ul li {
  list-style: outside;
  margin-left: 20px;
  margin-top: 7px;
}
.recording-component-questions p {
  font-size: 70%;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 10px;
}
/* microphone */
.record-component {
  display: flex;
  margin-top: 20px;
}
.record-component p{
  width: 160px;
  height: 30px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 75%;
  padding: 5px 10px;
  margin-left: 20px;
}
.stop-record,
.start-record{
  outline: none;
  border: none;
  border: 50%;
  background-color: var(--green);
  color: var(--white);
  padding: 10px 15px;
  font-size: 90%;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.stop-record {
  background-color: var(--red-2);
  box-shadow: rgba(252, 45, 45, 0.25) 0px 14px 28px, rgba(255, 66, 66, 0.22) 0px 10px 10px;
  animation: stop 0.7s linear infinite;
}


@keyframes stop {
  0%{
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.start-record:hover{
  background-color: rgb(12, 153, 118);
}

.record-timer {
  display: flex;
}

.record-timer p{
  width: 90px;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
}
.record-timer i {
  color: var(--white);
  background-color: var(--red-2);
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  font-size: 80%;
  cursor: pointer;
  margin-left: 10px;
}


.recording{
  width: 150px;
  height: 35px;
  margin-left: 20px;
}


.recording_container-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  height: 30px;
}

.recording_container-footer button {
  background-color: var(--red-2);
  outline: none;
  border: none;
  color: var(--white);
  font-size: 60%;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
.recording_container-footer button:hover{
  background-color: rgb(196, 48, 48);
}

.recording-footer-btns button:nth-child(1){
  width: 150px;
  background-color: var(--yellow)
}
.recording-footer-btns button:nth-child(1):hover{
  background-color: rgb(230, 186, 45);
}


.recording-footer-btns button:nth-child(2){
  background-color: var(--green);
  margin-right: 20px;
}
.recording-footer-btns button:nth-child(2):hover{
  background-color: rgb(17, 168, 130);
}
/* alert page */

.save_alert-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  height: 250px;
  left: calc(50% - 150px);
  top: calc(50% - 125px);
  background-color: rgb(229, 243, 234);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.alert_header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-img{
  display: inline-block;
  width: 150px;
  background-color: none;
}
.alert_header h3{
  font-size: 80%;
  font-weight: 500;
}

.alert-text-box {
  margin-top: 10px;
  font-size: 70%;
  text-align: center;
}
.close-alert{
  display: inline-block;
  margin: 10px auto;
  width: 80px;
  height: 37px;
  font-size: 100%;
  background-color: var(--blue);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* ------------------------------------------------------- */
/* ----------- END OF SPEAKING LEVEL PAGE STYLES */
/* ------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------- */
/* ----------- NOTIFICATION BUTTON STYLES */
/* ------------------------------------------------------- */

.notification-button {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 5px;
  right: 20px;
  bottom: 50px;
  background-color: var(--red-2);
  text-align: center;
  z-index: 101;
}

.notification-button i {
  background-color: var(--red-2);
  color: var(--white);
  font-size: 85%;
  padding: 7px 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px white;
}

.notification-text{
  display: block;
  position: fixed;
  padding: 10px 8px;
  right: 62px;
  border-radius: 10px;
  bottom: 50px;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  font-size: 80%;
  opacity: 0;
}

.notification-button:hover .notification-text{
  opacity: 1;
  transition:  opacity 0.2s;
}
/* ------------------------------------------------------- */
/* ----------- END OF NOTIFICATION BUTTON STYLES */
/* ------------------------------------------------------- */

/* -------------------------------------------------------- */
/* FOOTER STYLES */
/* -------------------------------------------------------- */

footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--white);
}

.footer-text {
  display: inline-block;
  margin-left: 250px;
  font-size: 60%;
  transition: margin-left 0.2s;
}

.footer-text a {
  color: var(--dark-gray-2);
}